@model MyPortfolio.Models.BasicInfo
@{
    ViewBag.Title = "Save Basic Info";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="display-5 font-weight-bold text-primary border-bottom pb-3">Basic Info</h2>
    </div>

    @using (Html.BeginForm("SaveBasicInfo", "MyBasicInfo", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.BasicInfoId)
        @Html.HiddenFor(m => m.PortfolioUserId)

        <div class="form-group row">
            @Html.LabelFor(m => m.Name, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.Address, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.Designation, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Designation, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.PhoneNumber, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.PhoneNumber, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.BirthDate, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                @Html.ValidationMessageFor(m => m.BirthDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            @Html.LabelFor(m => m.Profile, new { @class = "col-md-3 col-form-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(m => m.Profile, new { @class = "form-control", rows = 3 })
                @Html.ValidationMessageFor(m => m.Profile, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>

        if (Model.BasicInfoId != Guid.Empty)
        {
           <div class="form-group row">
             <div class="col-md-9 offset-md-3">
                @Html.ActionLink("Delete", "DeleteBasicInfo", "MyBasicInfo", new { basicInfoId = Model.BasicInfoId }, new { @class = "btn btn-danger btn-sm" })
             </div>
           </div>
        }
        

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                @Html.ActionLink("Back", "Index", "CreatePortfolio", null, new {@class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>
