@model MyPortfolio.Models.ProfileImage

@{
    ViewBag.Title = "Save ProfileImage";
}

<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="display-5 font-weight-bold text-danger border-bottom pb-3">Profile Image</h2>
    </div>

    @using (Html.BeginForm("SaveProfileImage", "MyProfileImage", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        @Html.HiddenFor(m => m.ProfileImageId)
        @Html.HiddenFor(m => m.PortfolioUserId)

        <div class="form-group row">
            <label for="imageFile" class="col-md-3 col-form-label">Select Image</label>

            <div class="col-md-9">
                <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/*" />
                @Html.ValidationMessage("profileImageFile", "", new { @class = "text-danger" })
            </div>

        </div>

        if (Model.ImageData != null && Model.ImageData.Length > 0)
        {
            <div class="form-group row">

                <div class="col-md-9 offset-md-3">

                    <img src="data:@Model.ContentType;base64,@Model.ImageBase64" alt="Uploaded Image" class="img-thumbnail" style="max-width: 200px;" />

                    <p>@Model.ImageName</p>

                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-success">Save</button>
            </div>
        </div>

        if (Model.ProfileImageId != Guid.Empty)
        {
            <div class="form-group row">
                <div class="col-md-9 offset-md-3">
                    @Html.ActionLink("Delete", "DeleteProfileImage", "MyProfileImage", new { profileImageId = Model.ProfileImageId }, new { @class = "btn btn-danger btn-sm" })
                </div>
            </div>
        }

        <div class="form-group row">
            <div class="col-md-9 offset-md-3">
                @Html.ActionLink("Back", "Index", "CreatePortfolio", null, new { @class = "btn btn-secondary" })
            </div>
        </div>
    }
</div>


